<div class="right-sidebar">
    <section>
        <h2>Recently Added</h2>

        {{ range ( where .Site.RegularPages "Type" "posts" | first 5 ) }}
        <div><a href="{{ .Permalink }}">{{ .Title }}</a></div>
        {{end}}
    </section>

    <section>
        <h2>Trending Tags</h2>
        {{ range .Site.Taxonomies.tags.ByCount }}

        <a class="sidebar-tag" href="{{ .Page.Permalink }}">
            {{ .Page.Title }}
            <span>({{ .Count }})</span>
        </a>

        {{ end }}
    </section>

    <section id="post-content">
        <h2>Table of Content</h2>
        {{ .TableOfContents }}
    </section>
</div>
